* {
    font-family: Arial;
    font-style:unset;
}

:root {
    --white: #fff;
    --background: #f1f1f1;
    --text: #555;
    --text-dark: #2c2c2c;
    --black: #000;
    --grey: #1e1e1e;
    --grey-light:#9c9c9c;
    --blue: #39aae1;
    --blue-dark: #4953b8;
    --blue-twitter: #36a9e1;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width:990px;
    margin-top: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    border-right: 5px solid var(--white);
    margin-right: 3rem;
    padding-right: 3rem;
}
.logo img {
    width: 200px;
}

#banner {
    display: flex;
    width: 100%;
    justify-content:center;
    background-image: url('../images/kauai.jpg');
    background-position: center;
    background-size: cover;
    padding: 1rem 0 2rem 0;
    margin: 0;
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
}

.banner_headline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height:fit-content;
}
.banner_headline h1 {
    color: var(--white);
    font-size: 60px;
    margin: 0px 0px 10px 0px;
    border: 3px solid var(--white);
    border-radius: 10px;
    text-align: center;
    padding: 0;
    text-shadow: 2px 2px var(--text);
    max-width: 350px;
    
}
.banner_headline h2 {
    color: var(--white);
    font-size: 26px;
    text-shadow: 2px 2px var(--text);
    
    margin: 0;
    padding: 0;
    max-width: 350px;
    text-align: center;
}

#geral {
    display: flex;
    justify-content: center;
}

.widget_group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.widget_group,
.wifi_group {
    display: flex;
    align-items:center;
}

.wifi_group {
    align-items: center;
}

.name_wifi {
    font-size: 19px;
    line-height: 1.5rem;
    padding: 2rem;
    min-width: 10rem;
}

.form_wifi {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    height: 4.8rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 0.5rem;
    margin: 0 0 0.3rem 0.5rem;
}

.widget_title {
    margin: 0 0 2rem 0;
    justify-content: center;
}

.widget_title_text {
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
}

.widget_title_bar {
    display: flex;
    width: 12rem;
    height: 4px;
    background-color: var(--blue-twitter);
    margin-top: 0.8rem;
}

.wifi img {
    width: 5rem;
    flex: 1;
}

.news_title {
    margin-bottom: 1rem;
}

.widget {
    width: 100%;
}

dt,li {
    color: var(--white) ;
}

.horarios,
.suite,
.common,
.money {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    
}

.hours,
.suites,
.area,
.rate {
    display: flex;
    flex: auto;
    border: 0.2px solid var(--black);
    border-radius: 0.5rem;
    padding: 0 1rem 0 1rem;
    margin-bottom: 2rem;
}

.transparency {
    background:var(--black);
    width: 50%;
    opacity: 70%;
}

.area {
    background-image: url('../images/piscina1.jpg');
    background-size: cover;
    background-position-y: center;
    justify-content: flex-end;
}

.suites {
    background-image: url('../images/quartos1.jpg');
    background-size: cover;
    background-position-y: center;
}

.hours {
    background-image: url('../images/fachada.jpg');
    background-size: cover;
    background-position-y: center;
}

.rate {
    background-image: url('../images/taxas.jpg');
    background-size: cover;
    background-position-y: center;
    justify-content:flex-end;
}

.transparency {
    justify-content: center;
}

.hours dt,
.suites dt,
.area dt,
.rate dt {
    font-size: 1.5rem;
}

.hours dl,
.suites dl,
.area dl,
.rate dl {
    padding: 1rem;
}

.horarios > li,
.suite > li,
.common > li,
.money > li {
    margin-top: 1rem;
}

.horarios :first-child,
.suite :first-child,
.common :first-child,
.money :first-child {
    margin-top: 0;
}

article {
    display: flex;
    flex-direction: column;
    max-width:100%;
    margin-bottom: 40px;
}

footer {
    display: flex;
    background-color: var(--grey);
    justify-content: center;
    color: var(--white);
}

.flex_column {
    flex-direction: column;
}

.footer_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address,
.location {
    margin:1rem 0 2rem 0;
}

.location {
    margin-top: 1rem;
}

.information {
    width: 250px;
    margin-top: 0.8rem;
}

.code img {
    width:30rem;
}

.code{
    display: flex;
    justify-content: center;
    opacity: 4%;
}

.maps iframe {
    height: 18rem;
}

footer .widget_title_text {
    color: var(--white);
}

.footer_copy {
    border-top: 1px solid var(--text-dark);
    height: 40px;
    line-height: 40px;
    color: var(--text);
    font-size: 14px;
    text-align: center;
}

.desc_300 {
    font-size: 16px;
}

.contact {
    color: var(--white);
    line-height: 1.5rem;
}

.desc_113 {
    max-width: 30rem;
    max-width: 15rem;
    margin-top: 2rem;
    line-height: 1.5rem;
    color: var(--grey-light);
}

.icon_115 {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 10px 0px;
}
.icon_115_1,
.icon_115_3 {
    width: 3rem;
    height: 3rem;
    margin: 0px 5px 0px 0px;
    background-color: var(--white);
    background-position: center;
    background-size: cover;
}
.icon_115_1 {
    background-image: url('../images/ficon.png');
}

.icon_115_3 {
    background-image: url('../images/insicon.png');
}

.desc_311,
.desc_321,
.desc_331,
.desc_341 {
    max-width: 300px;
    color: var(--grey-light);
}

.desc_312,
.desc_322,
.desc_332,
.desc_342 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: var(--blue);
}

.desc_300 {
    line-height: 1.2rem;
    margin-top: 2rem;
}

.desc_300 a {
    text-decoration: none;
    color: var(--background);
    font-size: 16px;
}

.desc_300 a:hover {
    text-shadow: 0px 1px 0px var(--text);
    font-size: 18px;
}


.footer_copy {
    flex-wrap: wrap;
    width: 100%;
}


@media(max-width: 970px) {
    
    .widget_group {
        width: 100%;
    }
    
    .logo {
        padding: 2rem;
        margin: 0 0 2rem 0;
        border-bottom: 3px solid var(--white);
        border-right: 0;
    }
    
    .logo a {
        width: 100%;
    }
}

@media(max-width: 770px) {
    
    .container {
        width:95.75%;
        margin-top: 1rem;
    }
    
    .column {
        margin-top: 0;
        width:80%;
    }
    
    .banner {
        width: 100%;
    }
    
    .widget_group {
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    .news_title {
        text-align: center;
    }
    
    .hours,
    .suites,
    .rate,
    .area {
        justify-content: center;
    }
    
    .transparency {
        width: 100%;
    }
    
    .location {
        margin-top: 1.4rem;
    }
    
    .footer_copy {
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 500px) {
    
    html, body {
        overflow-x: hidden;
    }
    
    .banner_headline h1 {
        font-size: 58px;
    }
    
    .banner_headline h2{
        font-size: 22px;
    }
    
    .container {
        width: 95%;
    }
    
    .footer_copy {
        font-size: 10px;
    }
    
    .widget_group .widget_title {
        text-align: center;
    }
    
    .maps iframe {
        width: 100%;
    }
    
    .footer_area {
        margin: 0;
    }
    .desc_300 a {
        font-size: 16px;
    }
    .desc_300 a:hover {
        font-size: 18px;
    }
    
    
}